# Data structures
- list
- tuple
- dictionaries
# list
- lists are mutable
- using a list comphereh ]

In [1]:
# lists
l1=[1,2,3,4,'hello','huf']
l1

[1, 2, 3, 4, 'hello', 'huf']

In [3]:
# how to add two lists
l2=['welcome',4,8,2]
l2
l3=l1+l2
print(l3)

[1, 2, 3, 4, 'hello', 'huf', 'welcome', 4, 8, 2]

In [10]:
# how to find index value[]
print(l3[0])
print(l3[-1])
# slicing(l3[0:])
print(l3[6:9])
print(l3[::-1])
print(l3[5:4:-1])

1
2
['welcome', 4, 8]
[2, 8, 4, 'welcome', 'huf', 'hello', 4, 3, 2, 1]
['huf']

In [12]:
# list methods
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
# append method
a=[1,2,3,4]
a.append(8)
a.append([6,7])
a

[1, 2, 3, 4, 8, [6, 7]]

In [15]:
# extend
a.extend([2,3,4,5])
a[4]

8

In [16]:
# count
a.count(1)
a

[1,
 2,
 3,
 4,
 8,
 [6, 7],
 2,
 3,
 4,
 5,
 2,
 3,
 4,
 5,
 2,
 3,
 4,
 5,
 2,
 3,
 4,
 5,
 2,
 3,
 4,
 5,
 2,
 3,
 4,
 5]

In [26]:
# count
a=[12,3,4,5]
a.append(6)
a.append([6,7])
a.extend([9,10,12,3])
a.count(3)
a.index(6)

4

In [35]:
# difference b/w pop,remove,clear,del
a=[1,2,3,4,5,6]
a.pop()
a.pop(0)

1

In [37]:
x=[2,3,4,6]
x

[2, 3, 4, 6]

In [38]:
x.reverse()
x

[6, 4, 3, 2]

In [40]:
x.reverse()
x.sort(reverse=True)
x

[6, 4, 3, 2]

In [43]:
x.sort()
x

[2, 3, 4, 6]

In [49]:
# insert (positive,value)
vowels=['a','k']
vowels.insert(1,'e')
vowels

['a', 'e', 'k']

In [50]:
# copy
y=x.copy()
x
y

[2, 3, 4, 6]

In [52]:
y=x.copy()
x.append(100)
print(y)
print(x)

[2, 3, 4, 6]
[2, 3, 4, 6, 100]

In [53]:
z=x
y

[2, 3, 4, 6]

In [54]:
x

[2, 3, 4, 6, 100]

In [55]:
y

[2, 3, 4, 6]

In [62]:
m=[]
n=int(input('enter range of numbers:'))     
for i in range(0,n+1):
    m.append(i)
print(m)

enter range of numbers:10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
x

[2, 3, 4, 6, 100]

In [64]:
x[0]

2

### Tuples
- tuples are immutable sequence typically used to store collections of           heterogeneous data
- tuples are used for cases where an immutable sequence of hemogeneous data is   needed
- using a pair of parenthesis to denote  this emptytuple()

In [66]:
# tuple
t=(1,2,3,4,5,'a','b','c')
# tuple indexing
t[0]
t[-1]
t[5]
# slicing tuple
t[::]
t[::-1]
t[2:3]
t[0:]

(1, 2, 3, 4, 5, 'a', 'b', 'c')

In [68]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [72]:
# task
# li = [1,2,3,4,1,2,3,4]
li=[1,2,3,4,1,2,3,4]
l1=[]
for i in li:
    if i not in l1:
        l1.append(i)
print(l1)

[1, 2, 3, 4]

In [75]:
# packing
students=('abc','12345','cse')
(name,rollno,dpt)=students
print(rollno)
print(name)
print(dpt)

12345
abc
cse

# Dictionaries
- creating a dictionary is as simple as placing items curly brases{} separate     by commas
- access values a dictionary uses keys

In [76]:
address={}
type(address)

dict

In [11]:
address={'name':'abc','place':'ongole'}
address

{'name': 'abc', 'place': 'ongole'}

In [12]:
address['pincode']=523001
address

{'name': 'abc', 'place': 'ongole', 'pincode': 523001}

In [13]:
address.get('pincode')
address

{'name': 'abc', 'place': 'ongole', 'pincode': 523001}

In [16]:
address.items()
address

{'name': 'abc', 'place': 'ongole', 'pincode': 523001}

In [17]:
address.values()

dict_values(['abc', 'ongole', 523001])

In [18]:
address.popitem()

('pincode', 523001)

In [19]:
address.pop('name')

'abc'

In [20]:
address

{'place': 'ongole'}

In [23]:
address1= {'pincode':523001,'street':'mmroad'}
address1

{'pincode': 523001, 'street': 'mmroad'}

In [24]:
address.update(address1)
address

{'place': 'ongole', 'pincode': 523001, 'street': 'mmroad'}

In [25]:
address['place']=['def']
address

{'place': ['def'], 'pincode': 523001, 'street': 'mmroad'}

In [28]:
address['name']='xyz'
address

{'place': ['def'], 'pincode': 523001, 'street': 'mmroad', 'name': 'xyz'}

In [32]:
address2=dict.fromkeys(address,'fields')
address2

{'place': 'fields', 'pincode': 'fields', 'street': 'fields', 'name': 'fields'}

In [37]:
li=[1,1.2,'hello',True]
li

[1, 1.2, 'hello', True]

# sets
-a set is an unordered collection of items.Every set element is unique and must be immutable
-a set is created by placing all the items inside curly braces{} separeted by commas or by using the builtset functions

In [38]:
#  set 
s={1,2,3,4,5,6,7,8,9}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
b={1,2,10,11,23}
b

{1, 2, 10, 11, 23}

In [8]:
a={1,3,7,8,9,12}
a.union(b)

{1, 2, 3, 7, 8, 9, 10, 11, 12, 23}

In [9]:
a.intersection(b)

{1}

In [10]:
a.add(13)
a

{1, 3, 7, 8, 9, 12, 13}

In [18]:
print(a.difference(b))
print(b.difference(a))

{3, 7, 8, 9, 12, 13}
{11, 2, 10, 23}

In [14]:
b.pop()

1

In [19]:
a.remove(3)
a

{7, 8, 9, 12, 13}

In [20]:
a.discard(3)
a

{7, 8, 9, 12, 13}

In [21]:
b.discard(23)
b

{2, 10, 11}

In [22]:
a.isdisjoint(b)

True